<nav>
    <div class="logo">Coffee Heaven</div>
    <ul class="nav-links">
        <li>
            <form action="/home" method="get">
                <button type="submit">HOME</button>
            </form>
        </li>
        <li>
            <form action="/product" method="get">
                <button type="submit">Product</button>
            </form>
        </li>
        <li>
            <form action="/contact" method="get">
                <button type="submit">Contact</button>
            </form>
        </li>
    </ul>
</nav>